#mainBody{
    display: flex;
}
#chibiContainer{
    display: flex;
    max-height: 100%;
    max-width: 100%;
    justify-content: space-evenly;
    background-color: lightslategray;
    align-items: center;
}
#chibiImage{
    max-height: 6em;
    max-width: 6em;
    background-color: lightslategray;
    margin: 0em 6em;
}
.socialMedia{
    color: darkmagenta;
    margin: .5em 3em;
    font-family: 'Bangers';
    font-size: 200%;
}