* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: darkmagenta;
    min-height: 100vh;
}
#topNav {
    display: flex;
    background-color: black;
    align-items: center;
    font-family: "Bangers", cursive;
    justify-content: space-between;
    max-height: 12em;
}
#chibiMe{
    height: 10%;
    width: 10%;
    max-width: 10%;
    max-height: 10%;
}
#topNav ul {
    display: flex;
    list-style: none;
    padding: 0em;
    margin: 0em;
    font-size: 1.5em;
    align-items: center;
}
#topNav li {
    flex-flow: column wrap;
    align-items: center;
    display: flex;
    padding: 0em;
}
#topNav i {
    color: white;
    padding: .25em;
    text-shadow: 2px 2px black;
}
#topNav ul>li>a {
    align-self: center;
    color: white;
    text-decoration: none;
    padding: 0em 1em;
}

#topNav a:hover {
    background-color: white;
    color: black;
    border-radius: 30px;
    text-shadow: 2px 2px orange;
}
#topNav a:active{
    background-color: limegreen;
    color: white;
    border-radius: 30px;
    text-shadow:2px 2px black;
}
#mainBody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0em 2%;
}
h2 {
    font-family: Bangers;
    text-shadow: 1px 1px white;
}
#aboutMe{
    font-family: Bangers;
    width: 40%;
}
#colorSection {
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    border-radius: 120px;
    background-color: orange;
}
#colorTitle{
    font-size: 150%;
    font-family: Bangers;
    text-shadow: 1px 1px white;
    align-items: center;
    padding: 1em;
}
#testButton{
    font-family: Bangers;
    align-self: center;
    margin: .5em;
}
footer{
    background-color: orange;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: "Bangers", cursive;
    display: flex;
    justify-content: space-between;
}
footer ul {
    display: flex;
    align-items: center;
}
footer li {
    display: inline-block;
    padding: 0em 1em;
}
footer a {
    color: black;
    text-shadow: 1px 1px white;
}
footer a:hover {
    color: white;
    text-shadow: 1px 1px black;
}
footer a:active{
    color: lime;
    text-shadow: black;
}
